<div>
  <div class="row">
    <div class="col-3">
          <h4>Agencia</h4><br>
          <mat-form-field appearance="fill">
            <select matNativeControl (change)="selectAge($event)">
              <option value=""></option>
              <option *ngFor="let option of agencies" [value]="option.nombre"
                      [selected]="selectedAge === option.nombre">{{ option.nombre }}</option>
            </select>
          </mat-form-field>
          <p>Su selección: {{selectedAge}}</p>
        </div>
    <div class="col-3">
          <h4>Oferta</h4><br>
          <mat-form-field appearance="fill">
            <select matNativeControl (change)="selectOff($event)">
              <option value=""></option>
              <option *ngFor="let option of offers" [value]="option.nombre"
                      [selected]="selectedOff === option.nombre">{{ option.nombre }} - ${{option.precio}}</option>
            </select>
          </mat-form-field>
          <p>Su selección: {{selectedOff}}</p>
    </div>
    <div class="col-3">
          <h4>Turista</h4><br>
          <mat-form-field appearance="fill">
            <select matNativeControl (change)="selectTou($event)">
              <option value=""></option>
              <option *ngFor="let option of tourist" [value]="option.nombre"
                      [selected]="selectedTou === option.nombre">{{ option.nombre }}</option>
            </select>
          </mat-form-field>
          <p>Su selección: {{selectedTou}}</p>
        </div>
      </div>
  <br>
  <h4>Precio de la reserva: ${{reservedPrice}}</h4>
  <br>
  <div>
    <button mat-stroked-button (click)="price()">Calcular Precio</button>
    <button style="margin-left: 5px" mat-raised-button color="primary">Reservar</button>
  </div>
</div>

