<!--
       Home Slider
       ==================================== -->
<div>
  <section id="home">
    <div id="home-carousel" class="carousel slide" data-interval="true">
      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
      </ol>
      <!--/.carousel-indicators-->

      <div class="carousel-inner">

        <div class="item active" style="background-image: url('/assets/images/fondo1.jpg')">
          <div class="carousel-caption">
            <div class="animated bounceInRight">
              <h2>Travel With Us</h2>
              <h3><br>Los Mejores Hoteles</h3>
              <p>Infórmate sobre los hoteles y sus ofertas</p>
            </div>
          </div>
        </div>

        <div class="item" style="background-image: url('/assets/images/fondo3.jpg')">
          <div class="carousel-caption">
            <div class="animated bounceInDown">
              <h2> Travel With Us</h2>
              <h3><br>Todo sobre Excursiones</h3>
              <p>Información actualizada sobre todas las excursiones que se encuentran en oferta</p>
            </div>
          </div>
        </div>

        <div class="item" style="background-image: url('/assets/images/fondo2.jpg')">
          <div class="carousel-caption">
            <div class="animated bounceInUp">
              <h2> Travel With Us</h2>
              <h3><br>Buscas una Agencia?</h3>
              <p>Revisa las ofertas de todas las agencias, y quédate con la mejor</p>
            </div>
          </div>
        </div>
      </div>
      <!--/.carousel-inner-->
      <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
        <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
          <mat-icon>arrow_back_ios</mat-icon>
        </a>
        <a class="sl-next" href="#home-carousel" data-slide="next">
          <mat-icon>arrow_forward_ios</mat-icon>
        </a>
      </nav>

    </div>
  </section>
</div>
<!--
End #home Slider
========================== -->
