<mat-card>
<mat-selection-list #reserves [multiple]="false">
  <mat-list-option *ngFor="let reserve of Reserves" [value]="reserve">
    {{reserve.Oferta}} --- ${{reserve.Precio}} --- {{reserve.Hotel}}
  </mat-list-option>
</mat-selection-list>
<br>
<p>
  Seleccionada: {{reserves.selectedOptions.selected[0]?.value.Oferta}}
</p>
  <br>
<button mat-stroked-button color="warn" (click)="deleteReserve(reserves.selectedOptions.selected[0]?.value)">
  <mat-icon>delete</mat-icon>
  <span>Cancelar</span>
</button>
<button style="margin-left: 4px" mat-stroked-button color="accent" (click)="createReserve()">
  <mat-icon>add_shopping_cart</mat-icon>
  <span>Todas las Ofertas</span>
</button>
</mat-card>
