<mat-toolbar>
  <button mat-button onclick="location.href='/home'" class="example-icon"
    aria-label="Example icon-button with menu icon" [routerLink]="['/home']" routerLinkActive="router-link-active">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/agencies">
    <span>Agencias</span>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/hotels">
    <span>Hoteles</span>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/tourist">
    <span>Turistas</span>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/excursion">
    <span>Excursiones</span>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/packs">
    <span>Paquetes</span>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/offers">
    <span>Ofertas</span>
  </button>
  <span class="example-spacer"></span>
  <mat-label>Administrador</mat-label>
  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item [routerLink]="['/myreserves']">
      <mat-icon>shopp</mat-icon>
      <span>Reservar</span>
    </button>
    <!--<button mat-menu-item (click)="logof()">
      <mat-icon>eject</mat-icon>
      <span>Salir</span>
    </button>-->
  </mat-menu>
</mat-toolbar>
