<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{name}}
      </mat-panel-title>
      <mat-panel-description>
        Descripción {{panelOpenState ? 'abierta' : 'cerrada'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{description}}</p>
    <button mat-flat-button color="accent" (click)="urlRedirect()">Visitar Página Oficial</button>
    <button mat-flat-button color="warn" (click)="pageRedirect()">Ofertas</button>
  </mat-expansion-panel>
</mat-accordion>
