<app-navbar></app-navbar>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <mat-card>
          <mat-card-title>Hoteles</mat-card-title>
          <app-expansion-panel name="Panorama"
                               description="Hotel 4 estrellas, ubicado en la zona residencial de Miramar, donde se encuentran la mayoría de embajadas y firmas comerciales. Dispone de amplias habitaciones, una espectacular piscina, una completa oferta gastronómica, el servicio Privilege Exclusive Rooms and Services y tres salones de reuniones. Recomendado para viajes de negocios, grupos, parejas."
                               url="https://www.tripadvisor.es/Hotel_Review-g147271-d249800-Reviews-Habana_Panorama-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
          </app-expansion-panel>
          <app-expansion-panel name="Cohiba"
                               description="Meliá Cohiba ofrece espectaculares vistas sobre el mar y la ciudad. Un excepcional hotel para viajes de placer o negocios que destaca por su ubicación, su exclusivo servicio The Level y su animada sala de fiestas."
                               url="https://www.tripadvisor.es/Hotel_Review-g147271-d226417-Reviews-Melia_Cohiba-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
          </app-expansion-panel>
          <app-expansion-panel name="Varadero"
                               description="Este hotel de lujo con todo incluido tiene un impresionante vestíbulo circular con vistas al mar y está a 1,4 km del Varadero Golf Club y a 9 km de la Península de Hicacos."
                               url="https://www.melia.com/es/hoteles/cuba/varadero/melia-varadero/index.htm">
          </app-expansion-panel>
          <app-expansion-panel name="Triton"
                               description="Hotel Neptuno-Triton es una magnífica elección para los viajeros que visiten La Habana, ya que ofrece un ambiente económico, además de numerosos servicios diseñados para mejorar tu estancia. Al estar cerca de los puntos de referencia más conocidos de La Habana, como Casa Verde de Miramar (1,5 km) y Instituto Superior de Arte (2,3 km), Hotel Neptuno-Triton es un magnífico destino para turistas."
                               url="https://www.tripadvisor.es/Hotel_Review-g147271-d151557-Reviews-Hotel_Neptuno_Triton-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
          </app-expansion-panel>
          <mat-accordion>
          </mat-accordion>
        </mat-card>
      </div>
    </div>
  </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <mat-card>
              <mat-card-title>Reservas Realizadas</mat-card-title>
              <app-reserves></app-reserves>
            </mat-card>
          </div>
        </div>
      </div>
</div>
<app-carousel></app-carousel>
